services:
  redis:
    extends:
      file: ./packages/infra/redis/docker-compose.yml
      service: redis
    networks:
      - larity-network

  rabbitmq:
    extends:
      file: ./packages/infra/rabbitmq/docker-compose.yml
      service: rabbitmq
    networks:
      - larity-network

  postgres:
    extends:
      file: ./packages/infra/postgres/docker-compose.yml
      service: postgres
    networks:
      - larity-network

  otel-collector:
    extends:
      file: ./packages/infra/monitoring/otel-collector/docker-compose.yml
      service: otel-collector
    networks:
      - larity-network
    depends_on:
      - tempo

  prometheus:
    extends:
      file: ./packages/infra/monitoring/prometheus/docker-compose.yml
      service: prometheus
    networks:
      - larity-network

  tempo:
    extends:
      file: ./packages/infra/monitoring/tempo/docker-compose.yml
      service: tempo
    networks:
      - larity-network

  grafana:
    extends:
      file: ./packages/infra/monitoring/grafana/docker-compose.yml
      service: grafana
    networks:
      - larity-network
    depends_on:
      - prometheus
      - tempo

volumes:
  postgres_data:
  rabbitmq_data:
  redis_data:
  prometheus_data:
  tempo_data:
  grafana_data:

networks:
  larity-network:
    name: larity-network
